DYAMOND/
MATLAB/
old_codes/
old_codes/qp_surf.mp4
old_codes/*
d1d2d3/
npy/
figures/
ERAI/
RCE-postprocessed/
DYAMOND/dask-worker-space/*
DYAMOND/*.nc
DYAMOND/*.txt
.ipynb_checkpoints/
__pycache__/*.pyc
hydrological_exploration/.ipynb_checkpoints/*
old_codes/
